.consultation
    min-height: 680px
    background: url('../img/twoBackground.jpg') center center/cover no-repeat
    padding: 100px 0 92px 0
    &__header
        line-height: normal
        text-transform: uppercase
        font-size: 36px
        text-align: left
        color: #ffffff 
    &__subheader
        margin-top: 80px    
        font-size: 20px
        font-weight: 400
        text-align: left
        color: #ffffff              
